@font-face {
    font-family: Poppins-Bold;
    src: url('./fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
    font-family: Poppins-Regular;
    src: url('./fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
    font-family: Poppins-Medium;
    src: url('./fonts/poppins/Poppins-Medium.ttf'); 
}

.form-container {
    padding: 10px;
    margin-top: 10px;
    height: 150px;
    margin-bottom: 7.5px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.2);
}

.footer-container {
    height: 20px;
    box-shadow: 5 5px 10px 5px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 5 5px 10px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5 5px 10px 5px rgba(0, 0, 0, 0.2);
    -o-box-shadow: 5 5px 10px 5px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 5 5px 10px 5px rgba(0, 0, 0, 0.2);
}

.cards-container {
    width: 100%;
    background-color: #efefeff6;
    min-height: 27.5em;
    max-height: 27.5em;
    overflow-y: auto;
    border-bottom: 1px solid #adadad6b;
}

.listings-container {
    width: 40%;
    height: 92%;
    position: fixed;
    left: 0;
    overflow-y: auto;
}

.map {
    width: 60%;
    height: 100%;
}

.active {
    background-color: teal;
    color: white;
}

/* .results-form-container2 {
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
} */

/* #formGridBorough {
    min-height:190px; 
    overflow-y :auto; 
    overflow-x:hidden; 
    position:absolute;
    width:300px;
    display: contents;
} */