@font-face {
    font-family: Poppins-Bold;
    src: url('./fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
    font-family: Poppins-Regular;
    src: url('./fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
    font-family: Poppins-Medium;
    src: url('./fonts/poppins/Poppins-Medium.ttf'); 
}

.login-container {
    width: 100%;  
    min-height: 100vh;
    padding: 15px;
    background: #f3f3f3;  
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
}

.error {
    font-size: 12px;
    color: red;
    margin-bottom: -5px;
}

.login-panel {
    width: 390px;
    background: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    padding: 77px 55px 33px 55px;

    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 5px 10px 0px rgba(0, 0, 0, 0.1);
}

.login-form {
    width: 100%;
}

.title {
    display: block;
    text-align: center;
    font-family: Poppins-Bold;
    color: #555555;
    font-size: 30px;
    line-height: 1.2;
    margin-top: -40px;
    margin-bottom: 30px;
}

.appdescription {
    /* font-family: Poppins-Regular; */
    line-height: 20px;
    font-size: 17px;
    color: #999;
    margin-top: 30px;
    margin-bottom: 6px;
}

.logo {
    width: 60%;
    height: 50%;
    margin-top: -40px;
    /* margin-bottom: 20px; */
}

.field-input {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    border-bottom: 2px solid #adadad;
}

.input {
    display: block;
    width: 100%;
    height: 45px;
    background: transparent;
    outline: none;
    padding: 0 5px;
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #555555;
    line-height: 1.2;
    border: 0;
}

.input-focus {
    position: absolute;
    display: block;
    /* width: 100%;
    height: 100%; */
    pointer-events: none;
    top: 0;
    left: 0;
}
  
.input-focus::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 0;
    height: 2px;
    bottom: -2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}
  
.input-focus::after {
    font-family: Poppins-Regular;
    font-size: 15px;
    color: #999999;
    line-height: 1.2;
    top: 16px;
    left: 0px;
    padding-left: 5px;
    align-content: initial;

    content: attr(placeholder);
    display: block;
    width: 140px;
    position: absolute;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input:focus + .input-focus::after {
    top: -15px;
}

.input:focus + .input-focus::before {
    width: 100%;
}

.has-val.input + .input-focus::after {
    top: -15px;
}

.has-val.input + .input-focus::before {
    width: 100%;
}

.login-btn-container {
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 13px;
}

.login-btn-wrap {
    width: 100%;
    display: block;
    border-radius: 25px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.login-btn {
    font-family: Poppins-Medium;
    font-size: 15px;
    color: #fff;
    background: #555555;
    line-height: 1.2;
    text-transform: uppercase;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    margin-bottom: 60px;
}

.no-account {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #666666;
    line-height: 1.5;
}

.signup {
    font-family: Poppins-Regular;
    font-size: 13px;
    color: #1d64a7;
    line-height: 1.5;
    margin-left: 4px;
    margin-bottom: 40px;
}

.page-break {
    margin-top: 56px;
}